.galleryone{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw ;
}

.gallerytwo{
    display: grid;
    grid-template-columns: auto auto auto;
}
/*.galleryone img { 
    width: 100%;
} */

.galleryone-image{
    width: 100%;
}
.galleryone--background{
    background-color: pink;
}

.gallerytwo .item1{
    grid-column-start: 1;
    grid-column-end: 4; 
    /* End should always be 1 more than amount of columns */

}
.headergrid{
    background-color: pink;
    display: grid;
    grid-template-columns: 33vw 33vw 33vw ;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10vh;
}

